@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-ExtraBold.ttf');
	font-weight: 800;
}
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/src/assets/fonts/RobotoCondensed/RobotoCondensed-Black.ttf');
	font-weight: 900;
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'IBM Plex Mono';
	src: url('/src/assets/fonts/IBMPlexMono/IBMPlexMono-Bold.ttf');
	font-weight: 700;
}
